<!DOCTYPE html>
<html lang="fr">
<head>
        <meta charset="UTF-8">
        <title>Episode 6</title>
        <link rel="stylesheet" href="../static/ep6.css">
</head>
<body>
    <h1>Episode 6</h1>
    <p>Bravo, vous avez tué la sorcière. Vous sortez de la cabane et continuez votre chemin.</p>
    <p>Vous arrivez devant un village. Une voix inconnue vous demande un code a cinq chiffres pour rentrer.</p>
    <form action="/ep7" method="get">
		<label>Mot de passe</label> : <input type="password" name="mdp">
		<input type="submit" value="Envoyer" />
    </form>
    <p><a href="http://127.0.0.1:5000/eparme">Inspecter l'épée</a></p>
</body>
</html>
